*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* body scroll niet bij sub pages
body  {
	background: #f0eee0;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	margin:0 0 0 0;
	overflow:scroll;
}
 */
.container {
	dispay: inline-bock;
	width:100%;
	height:auto;
}
.header{
	width: 100%;
	height:100px;
	position:absolute;
	margin:0;
	padding:0;
	
}

#logoheader{
	position: fixed;
    top: 10px;
    left: 20px;
    z-index: 100;
    display: block;
    width: 150px;
    height: 85px;

	
}


.bt-menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: #bbbbbb;
	background-color: rgba(0,0,0,0,);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	
}
.bt-menu img{
	display:none;
	positon:absolute;
	
}
.bt-menu.bt-menu-open img{
	width:40px;
	height:40px;
	
	
	position:fixed;
	display:inline-block;
	z-index:100;
	margin-left:5px;
	bottom:14px;
	float:left;
	

}
.bt-menu p{
	display:none;
	positon:absolute;
	
}
.bt-menu.bt-menu-open p{
	position:fixed;
	display:inline-block;
	z-index:100;
	bottom:0;
	float:right;
	font-size:12px;
	margin-left:70px;
	margin-right:5px;
	color:#f0eee0;
	
}
.bt-menu.bt-menu-open img:hover{
	background-color:rgba(0,0,0,0.20);
}
.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 0px 150px 0px 0px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
	z-index:100;
	
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
	position: fixed;
	top: 10px;
	right: 20px;
	z-index: 100;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	width: 100%;
	height: 8%;
	background-color: #000;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
	background: #000;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(300%);
	transform: translateY(300%);
}

.bt-menu ul {
	position: fixed;
	margin: 0;
	padding: 0;
	list-style: none;
}

.bt-menu ul:first-of-type {
	top: 75px;
	right: 0;
}

.bt-menu ul:nth-of-type(2) {
	right: 0;
	bottom: 0;
}

.bt-menu ul li,
.bt-menu ul li a {
	display: block;
}

.bt-menu ul:nth-of-type(2) li {
	float: right;
	font-size: 0px;
}

.bt-menu ul li {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
	transition: transform 0.3s, opacity 0.3s;
}

/* First menu */
.bt-menu ul:first-of-type li {
	width: 150px;
	height: 50px;
	line-height: 50px;
	-webkit-transform: translate3d(-100%,50%,0);
	transform: translate3d(-100%,50%,0);
}

.bt-menu.bt-menu-open ul:first-of-type li {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Second menu */
.bt-menu ul:nth-of-type(2) li {
	width: 60px;
	height: 50px;
	line-height: 50px;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child { 
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) { 
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) { 
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.bt-menu ul li a {
	display: block;
	outline: none;
	text-decoration: none;
}

.bt-menu ul:first-of-type li a {
	font-family:'Roboto', sans-serif, helvetica;
	padding: 0 20px;
	box-shadow: inset 0 1px rgba(0,0,0,0.2);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:first-of-type li:last-child a {
	box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
}

.bt-menu ul:nth-of-type(2) li a {
	color: transparent;
	text-align: center;
	font-size: 0px;
}

.bt-menu ul li a:before {
	color: #fff;
	font-size: 24px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
	color: #000000;
}

/* end menu */
/* begin homepage*/
video{
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	min-height:100%;
	min-width:100%;
	z-index:-1;
	
}
.textHomePage{
	postion: absolute;
	margin:auto;
	top:0;
	right:0;
	bottom:0;
	left:0;
	
}
.textHomePage h1{
	font-family: 'Roboto', sans-serif;
	color: #f0eee0;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.96);
	position: absolute;
	font-size: 84px;
	font-weight: 100;
	width: 80%;
	left: 30%;
	text-align: left;
	line-height: 50px;
	margin: -70px 0 0 0;
	padding: 0;
	top: 47%;
	-webkit-backface-visibility: hidden;
}
.textHomePage h2{
	font-family: 'Roboto', sans-serif;
	color: #f0eee0;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.96);
	position: absolute;
	font-size: 44px;
	font-weight: 100;
	width: 80%;
	left: 10%;
	text-align: center;
	line-height: 50px;
	margin: -70px 0 0 0;
	padding: 0;
	top: 55%;
	-webkit-backface-visibility: hidden;
}
.textHomePage h3{
	font-family: 'Indie Flower', cursive;
	color: #f0eee0;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.96);
	position: absolute;
	font-size: 44px;
	font-weight: 100;
	width: 80%;
	left: 20%;
	text-align: center;
	line-height: -50px;
	margin: -70px 0 0 0;
	padding: 0;
	top: 60%;
	-webkit-backface-visibility: hidden;
}
/* einde homepage*/

.logohome img{
	height: auto;
	width: 180px;
	float: left;
	position:absolute;
	dispay: inline-bock;
	
	
}
.marielletext{
	
	float:left;
	width:500px;
	margin-left: 340px;
	margin-top:120px;
	position:absolute;

}
.marielletext h1{
	font-family: 'Roboto', sans-serif;
	font-size:4em;
	margin: 0 0 0 0;
	text-align:left;
}
.marielletext h2{
	font-family:'Indie Flower', cursive;, sans-serif;
	font-size:2em;
	margin: 0 0 0 0;
	text-align:right;
	color:#000;
}
.overtext{
	float:left;
	width:500px;
	margin-left: 50px;
	margin-top:380px;
	
	position:absolute;
	
}
.overtext p{
	font-size: 1.5em;
	font-family: 'Open Sans Condensed', sans-serif;
}
	
.marielleHome img{
	height: 80%;
	width: 40%;
	float: right;
	padding-top:70px;
	dispay: inline-bock;
	
}

.footer{
	width:100%;
	height: 50px;
	position:absolute;
	bottom:0px;
	
}
.clearfix{
	overflow:auto;
}
/* instagram */
#instakop{
	
	font-size:2em;
	letter-spacing:0.2em;
	text-align:center;
	text-transform:uppercase;
	margin-top:80px;
}
#instakop img{
	width:130px;
	height: 60px; 
	padding-right: 40px; 
}
 #rig {
    max-width:100%;
	margin:0 auto; 
    font-size:0; 
    list-style:none;
    padding-left: 10%;
	padding-right: 40px; 
	position: ;
}

#rig li {
    display:inline-block;
    *display:inline;/*for IE6 - IE7*/
    
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}


.rig-cell {
    
	margin-bottom:10%;
	margin-top:10%;
	
    box-shadow:0 1px 4px rgba(0,0,0,0.4);
    
    border:none;
    color:#555;
    background-color:rgba(255,255,255,0.56);
    text-decoration:none;
    text-align:center;
    display:inline-block;
    position: relative;
    overflow:hidden;
}

.rig-cell h3 {
    font-size:18px;
    font-family:'Oswald', sans-serif;
    font-weight:normal;
}


.rig-img {
	position: relative;
    border:none;
    width:100%;
    height:auto;
    
    background-color:white;
    background-repeat:no-repeat;
   
}

.rig-cell:hover{
	background-color:rgba(0,0,0,0.55);
	color:#f0eee0;
	
	}
rig-cell:hover h3{
	color:#f0eee0;
	}
#rig li:hover  {
    opacity:1;
    transform:scale(1);
	
}


.rig-overlay {
    position: absolute;
    display:block;
    top:0;left:0;bottom:0;right:0;
    margin:auto;
    background:white;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);
    transition:all 0.3s;
}
#rig li:hover .rig-overlay1 {
    opacity:0.5;
}

@media (max-width: 9000px) {
    #rig li {width:24%;}
}
#rig {
    max-width:100%;
	margin:0 auto; 
    font-size:0; 
    list-style:none;
    
	padding-right: 40px; 
	position: ;
}
@media (max-width: 1060px) {
	#rig li {width:24%;}

#rig {
    max-width:100%;
	margin:0 auto; 
    font-size:0; 
    list-style:none;
    
	padding-right: 40px; 
	position: ;
}
	
}

@media (max-width: 800px) {
    #rig li {width:43.33%;}
	#rig {
    max-width:100%;
	margin:0 auto; 
    font-size:0; 
    list-style:none;
    padding-left:10%;
	padding-right: 40px; 
	position: ;
}
}


@media (max-width: 500px) {
    #rig li {width:100%;}
}
@media (max-width: 450px) {
    #rig li {width:90%;}
}

@media (max-width: 400px) {
    #rig li {width:90%;}
	#instakop h1{
	
	font-size:2em;
	letter-spacing:0.2em;
	text-align:center;
	text-transform:uppercase;
	margin-top:80px;
}
#instakop h1 img{
	width:100px;
	height: 60px; 
	padding-right: 40px; 
}
#rig {
    max-width:100%;
	margin:0 auto; 
    font-size:0; 
    list-style:none;
    padding-left:20%;
	padding-right: 40px; 
	position: ;
}
}


@media (max-width: 350px) {
    #rig li {width:90%;}
}

